<h1> {{ title}}</h1>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

<app-mi-componente></app-mi-componente>
<!--
<h1>Números en castellano</h1>
<ul>
<li *ngFor="let valor of vector">
{{valor | letras}}
</li>
</ul>
<h1>Números en inglés</h1>
<ul>
<li *ngFor="let valor of vector">
{{valor | letras:'ingles'}}
</li>
</ul>
<h1>Números en portugués</h1>
<ul>
<li *ngFor="let valor of vector">
{{valor | letras:'portugues'}}
</li>
</ul>





<input type="text" [(ngModel)]="foodName" (keydown.enter)="addFood">
<button (click)= "addFood()">agregar</button>
<ul>
  <li *ngFor="let plato of foods">
    {{ plato}}
  </li>
</ul>
<button (click)= "deleteFood()">Eliminar</button>
-->